body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Dark Grey */
    color: white;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333; /* Dark Grey */
    padding: 20px;
}

.logo {
    margin-right: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

main {
    padding: 50px 20px;
    height: calc(100vh - 120px); /* Full height minus header and footer */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2 {
    font-size: 600%;
    margin: 10px 0;
}

.shop-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: royalblue;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

footer {
    padding: 20px;
    background-color: #333; /* Dark Grey */
}

.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.car-item {
    margin: 15px;
    text-align: center;
}

.car-item img {
    width: 200px; /* Set the width of car images */
    height: auto;
}
