body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #333333; /* Dark grey */
    color: white; /* White font color */
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 600%;
}

h2 {
    font-size: 400%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase; /* Uppercase text */
}

main {
    text-align: center; /* Center-align text in main */
    padding: 20px;
}

.shop-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 200%;
    color: white;
    background-color: royalblue; /* Royal blue */
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center car items */
}

.car-item {
    margin: 10px;
    text-align: center;
}

.car-item img {
    width: 200px; /* Adjust image size */
    height: auto; /* Maintain aspect ratio */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
}
